streamlit==1.45.1
streamlit-option-menu==0.4.0

numpy==1.26.4
pandas==2.2.3
pillow==10.3.0

opencv-python-headless==4.10.0.84

torch==2.2.2
torchvision==0.17.2

ultralytics==8.0.230

matplotlib
tqdm
requests
PyYAML
